pyspark==4.0.3
py4j==0.10.9.9
pandas==2.3.3
numpy==2.0.2
scikit-learn==1.6.1
scipy==1.13.1
matplotlib==3.9.4
seaborn==0.13.2
statsmodels==0.14.6
jupyter==1.1.1
jupyterlab==4.5.9
notebook==7.5.7
ipykernel==6.31.0
nbconvert==7.17.1
